{{ with .Site.GetPage "hero.md" }}

<div class="relative w-screen h-screen bg-[url('/img/bg-image.jpg')] bg-center bg-cover">
    {{ partial "nav.html" . }}


    {{/*  <div class="container mx-auto">  */}}
        {{/*  <div class="absolute left-0 bottom-0 flex flex-col m-5 text-white">  */}}
            <div class="absolute bottom-1/4 left-1/4 transform -translate-x-1/4 flex flex-col text-white">
            <h1 class="text-3xl md:text-4xl my-2">{{ .Params.title }}</h1>
            <h2 class="text-xl md:text-2xl">{{ .Params.slogan }}</h2>
        </div>
    {{/*  </div>  */}}
</div>

{{ end }}
