{{ with .Site.GetPage "testimonial.md" }}
<section class="text-gray-100 bg-blueGreen body-font">
<div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
    
    {{ partial "svg/quote.svg" .}}

    <p class="leading-relaxed text-lg">
        {{ .Content }}
        
    </p>
    <span class="inline-block h-1 w-10 rounded bg-gray-200 mt-8 mb-6"></span>
    <h2 class="text-gray-100 font-medium title-font tracking-wider text-sm">{{ .Params.author }}</h2>
    <p class="text-gray-200">{{ T "customer" }}</p>
    </div>
</div>
</section> 
{{ end }}