{{ define "main" }}
	<main>
	<h1 class="text-red-900 text-5xl"> Hello </h1>

<ul>
{{ range $.Site.Home.AllTranslations }}
<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
{{ end }}
</ul>

  {{/*  <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>  */}}
{{ "testimonial.md" | relLangURL }}

	{{ partial "testimonial.html" (.Site.GetPage "testimonial.md")}}

	{{/*  {{ $faqs := .Site.GetPage "/faq" }}
	{{ $faqs.Params.question }}

	{{ $fag.Get(0).Params.question }}

	{{ range $faqs }}
		{{.Title}}
	{{ end }}

	<br>  */}}

	{{ with .Site.GetPage "/faq/question1.md" }}{{ .Params.question }} {{.Content}} {{ end }}

	{{/*  {{ partial "faq.html" (.Site.GetPage "/faq")}}  */}}
	</main>
{{ end }}

